{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}


<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ user_form|crispy }}
            {% if profile_form.photo %}
                <img src="{{ profile_form.photo.url }}" width="200"/>
            {% else %}
                <p>No photo available</p>
            {% endif %}
            {{ profile_form|crispy }}
            
        </div>
        <div class="col-6">
            {{ location_form|crispy }}
        </div>
    </div>
    <button type="submit" class="w-10 btn btn-lg btn-primary mt-3">save</button>
</form>

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="border-bottom mb-3">
                    your listings
                </h2>
            </div>
        </div>
        <table class="table table-hover">
            <tbody>
                {% for user_listing in user_listings %}
                  <tr>
                    <td>{{ user_listing.id }}</td>
                    <td>{{ user_listing.name }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="border-bottom mb-3">
                    liked listings
                </h2>
            </div>
        </div>
        <table class="table table-hover">
            <tbody>
                {% for liked_list in liked_lists %}
                  <tr>
                    <td>{{ liked_list.listing.name }}</td>
                    <td>{{ liked_list.liked_date }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}
